@font-face {
    font-family: 'NJNaruto';
    src: url('../fonts/njnaruto.ttf') format('truetype'); 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 80px 0px 0px 0px;
    color: white;
    font-size: 60px;
    font-family: 'NJNaruto', sans-serif;
}

.text-gradient-naruto {
    font-size: 6rem;
    font-weight: bold;
    background: linear-gradient(180deg, #f57c00, #ffca28, #ff3d00);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: "Anton", serif;
    font-family: 'NJNaruto', sans-serif;
    z-index: 2;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(180deg, #f57c00, #ffca28, #ff3d00);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.top_four, .bottom_four {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

p {
    text-align: justify;
    color: #F4F4F2;
    z-index: 2;
}

.card {
    font-family: "Roboto", serif;
    width: 35px;
    height: 400px;
    perspective: 1000px;
    position: relative;
    right: 150px;
    background-color: transparent;
    border: none;
}

.card_side {
    width: 1000%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: #1F456A 0px 3px 7px;
}

.card_side_front {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 12px;
    background: #ffffff1a;
    border: 1px solid #ffffff20;
    backdrop-filter: blur(35px) saturate(120%);
    padding: 0px 20px 20px 20px;
    background-color: #00ffee;
}

.card_side_back {
    background: #1F456A;
    transform: rotateY(180deg);
    color: #F4F4F2;
    padding: 10px 50px;
}

.card:hover .card_side_front {
    transition-delay: 0.8s;
    transform: rotateY(180deg);
}

.card:hover .card_side_back {
    transition-delay: 0.8s;
    transform: rotateY(0deg);
}

.naruto_bg {
    background-image: url(/images/Naruto_Uzumaki.png);
    background-size: cover;
}

.sasuke_bg {
    background-image: url(/images/Sasuke_Uchiha.png);
    background-size: cover;
}

.kakashi_bg {
    background-image: url(/images/Kakashi_Hatake.png);
    background-size: cover;
}

.sakura_bg {
    background-image: url(/images/Sakura_Haruno.png);
    background-size: cover;
}

.madara_bg {
    background-image: url(/images/Madara_Uchiha.png);
    background-size: cover;
}

.orochimaru_bg {
    background-image: url(/images/Orochimaru.png);
    background-size: cover;
}

.pain_bg {
    background-image: url(/images/Pain.png);
    background-size: cover;
}

.itachi_bg {
    background-image: url(/images/Itachi_Uchiha.png);
    background-size: cover;
}

.darker_bg {
    width: 350px;
    height: 400px;
    z-index: 1;
    position: fixed;
    top: 0px;
    border-radius: 12px;
    background-color: rgba(25, 52, 94, .70);
    transition: 0.5s;
}

.darker_bg:hover {
    background-color: rgba(25, 52, 94, 0);
}

.navbar-brand {
    font-family: 'NJNaruto', sans-serif;
    z-index: 2;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(180deg, #f57c00, #ffca28, #ff3d00);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}